body{
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 20px;
    color: #333333;
    background: #262626;
}
h1,h2,h3,h4,h5,h6{
    font-family : Roboto, sans-serif;
    color : white;
}
.header{
    padding : 15px 0px;
    color : #f3f3f3;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), color-stop(0.85, #262626), to(#0d0d0d));
    background-image: -webkit-linear-gradient(#333333, #262626 85%, #0d0d0d);
    background-image: -moz-linear-gradient(#333333, #262626 85%, #0d0d0d);
    background-image: -o-linear-gradient(#333333, #262626 85%, #0d0d0d);
    background-image: linear-gradient(#333333, #262626 85%, #0d0d0d);
}

.main-menu{
    color : #f3f3f3;
    /*background-color: #3187bf;*/
    /*padding-top : 10px; padding-bottom :10px;*/
}

.main-menu:after{
    content : '';
    clear : both;
}

.admin-nav{
    padding-left : 0;
    float : left;
}

.admin-nav > li{
    float : left;
    background-color: #e4e4e4;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), color-stop(85%, #ebebeb), to(#cccccc));
    background-image: -webkit-linear-gradient(#f2f2f2, #ebebeb 85%, #cccccc);
    background-image: -moz-linear-gradient(top, #f2f2f2, #ebebeb 85%, #cccccc);
    background-image: -o-linear-gradient(#f2f2f2, #ebebeb 85%, #cccccc);
    background-image: linear-gradient(#f2f2f2, #ebebeb 85%, #cccccc);
    background-repeat: no-repeat;
    border-radius: 3px 3px 0 0;
    width: 102px;
    text-align: center;
    margin-right: 5px;
    border-radius: 3px 3px 0 0;
}

.admin-nav > li.active {
  background: #2d85be;
}

.admin-nav > li:hover{
    background: #2d85be;
}

.admin-nav > li:hover a{
    color : white;
}

.admin-nav > li.active a{ 
    color : white;
}
.admin-nav > li.active a i{
    color : white;
}

.admin-nav > li a{
    text-align : center; display: block;
    padding: 15px 4px;
    font-size: 11px;
    text-decoration: none;
    color: #4d4d4d;
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;

}

.admin-nav > li a > i{
    color: #4d4d4d;
    text-align: center;
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
}

.admin-nav .dropdown .dropdown-menu{
    margin : 0;
    border-radius : 0;
    padding : 0;
    background-color: rgb(45, 133, 190);
    border-top: 0;
    margin-top : -1px;
}

.admin-nav .dropdown li a {
    color : #f3f3f3;
}

.admin-nav .dropdown li a:hover{
      background-color: rgb(0, 95, 157);
}

.footer{
    padding-top : 10px; padding-bottom :10px;
    color : #f3f3f3;
    background-color: #3187bf;
}

main{
    padding-top : 15px;
    padding-bottom : 15px;
}

.main-wrapper{
    background : white;
    min-height : 200px;
}

.widget-header{
    position : relative;
    background-color: #e8e8e8;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#e8e8e8));
    background-image: -webkit-linear-gradient(top, #fcfcfc, #e8e8e8);
    background-image: -moz-linear-gradient(top, #fcfcfc, #e8e8e8);
    background-image: -ms-linear-gradient(top, #fcfcfc, #e8e8e8);
    background-image: -o-linear-gradient(top, #fcfcfc, #e8e8e8);
    background-image: linear-gradient(top, #fcfcfc, #e8e8e8);
    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0;
    border-bottom: 1px solid #cfcfcf;
    min-height: 42px;
    padding: 0 15px;
    line-height: 42px;
}

.widget-header .tools{
    position: absolute;
    right: 20px;
    top: 0;
    font-size: 22px;
}

.widget-title{
    font-size : 22px;
    padding-top : 3px;
}

.widget-title h2{
    margin-top : 0;
    margin-bottom : 0;
    color : black;
}

.widget{
    background: #fafafa;
    border: 1px solid #cfcfcf;
    clear: both;
    margin-top : 20px;
    margin-bottom: 30px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.widget-body{
    padding-left : 20px; padding-right : 20px;
    padding-top : 10px; padding-bottom : 10px;
    border: 1px solid rgb(240, 240, 240);
  border-top: 0;
}

.articol-cover-wp {
    padding-top : 15px;  
    padding-left: 45px !important;
    padding-right: 45px !important;
}

.articol-cover-wp img{
    width : 100%;
}

.img100{
    width : 60%;
}