/**
 * DEFINE COLORS :
 * 
**/


*,html{
    
}

body{
      background-color: #D6D6D6;;    
}

.header-top{
    height : 110px;
    background: #FFF;
    color: #f9f9f9;
}

.main-menu li{
    float :left;
}

.main-menu li a{
    float: left;
    padding: 9px 15px;
    margin: 0px;
    font-size: 15px;
    font-weight: 300;
    color: #f9f9f9;
    font-family: Oswald;
    text-shadow: 0.5px .5px #212426;

}

.header-bottom {
    height : 56px;
    background: #19191a;
    color: #f9f9f9;
}

#marque {
    overflow : hidden; margin-top : 20px;
    padding-left: 20px; padding-right : 20px;
}

#Wrapper {
    /*padding-top : 25px;*/
    min-height : 200px;
    background-color: #fafafa;
}

.main-bottom{
    padding-top : 30px;
    background-color : #ffffff;
    /*min-height : 200px;*/
    margin-top : 50px;
    padding-bottom : 30px;
}

#Header h1, #Header h2, #Header h3 , #Header h4{
    color : white;
}

.main-section-title{
      border-bottom: 1px solid #eeeeee;
}

.pub-data{
    color: #acacac;
    margin-top : 8px;
    margin-bottom : 7px;
}

.main-section-title > span{
    display : inline-block;
    /*margin-bottom : 15px;*/
}
.news-section{
    padding-top : 20px;
}
.main-section-title a{
    color: #222;
}

.main-section-title a:hover{
    color: #5470c0;
}

#Footer {
    /*height: 568px;*/
    background: #19191a;
    color: #f9f9f9;
    padding-top :25px;
}

#Footer h3{
    color : #f3f3f3;
}

.footer-top{
    padding-bottom : 30px;
    border-bottom : 1px solid #313131;
}

.links a {
    font-size : 32px;
    color : white;
    margin : 5px;
    display : inline-block; float : left;
    /*border : 1px solid red; */
    width : 45px; text-align : center;
    border-radius : 5px;
}

.links a.facebook{
    background-color : #3b5998;
}

.links a.twitter{
    background-color : #55acee;
}

.links a.google-plus{
    background-color : #d93e2d;
}

.links a.pinterest{
    background-color : #c92619;
}

.side-nav{
    
}

.nav-tabs.side-nav > li.active > a, .nav-tabs.side-nav > li.active > a:hover, .nav-tabs.side-nav > li.active > a:focus{
    border-color: transparent;
    border-bottom : 1px solid #b3b3b3;;
}
.nav-tabs.side-nav > li > a:hover {
    border-color: transparent;
    border-bottom : 1px solid #b3b3b3;;
    background-color : transparent;
}

.nav-tabs.side-nav > li.active a {
    border-color: transparent;
    border-bottom : 1px solid #b3b3b3;;
    background-color : transparent;
}

.side-nav > li a{
    color: #3d3d3d;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    padding : 22px 5px;
}

ul.archive a {
    font-size : 16px;
}

a.tag-name{margin-right : 4px;}

a.tag-name:nth-child(2n){
    font-size : 22px;
}
a.tag-name:nth-child(2n+1){
    font-size : 18px;
}
a.tag-name:nth-child(2n+2){
    font-size : 16px;
}
a.tag-name:nth-child(2n+3){
    font-size : 12px;
}

.title-big{
    font-size : 46px;
}

.share a {
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    color: #fff;
    font-weight: 500;
    padding: 6px 15px;
    border-radius: 2px;
    margin: 0 0 0 20px;
}

.share a.twitter {
    background: #3a93d8;
}

.share a.facebook {
    background: #2e6cc8;
}

.share a.gplus {
    background: #dd5042;
}

article .entry-content{
    
}

article .entry-content p{
    margin-bottom : 18px;
}

.article-footer h3 span{ color: #999;; font-weight : 300;}
.article-footer h3 {font-size : 16px; font-family : "Roboto"; font-weight : 500;}
.cv.author > img{border-radius : 50%;}
/******************************************************************************/
article.mn{
    border-bottom: 1px solid #eee;
    padding-bottom : 15px;
    margin-bottom : 20px;
}

article.mn > div.cv-hld{
    margin-bottom : 15px;
}

article.mn > div.cv-hld img{
    width : 100%;
}

article.mn > .meta-data{
    margin-top : 10px;
}

article.mn > .meta-data .pub-date{
    color: #acacac;;
}

article.mn > .desc{
    margin-top : 10px;
}
article.mn > .desc p{
    word-break :break-word;
}
article.hz{
    margin-bottom : 20px;
}

article.sb{
    margin-bottom : 15px;
    border-bottom: 1px solid #ebebeb;
    padding-bottom : 15px;
}

article div.cv > img{width : 100%;}


.article-title{
    font-family: 'Oswald', sans-serif;
    
}

h3.article-title{
    font-size: 20px;
    font-weight: 400;
    line-height: 1.3;
}


h4.article-title{
    font-size: 15px;
    font-weight: 400;
    line-height: 1.3;
}

.article-title a {
    color: #222;
}

ul.featured{
    padding-left : 0;
    /*font-family: 'Oswald', sans-serif;*/
}

ul.featured > li {
    display: block;
    margin: 0 0 15px;
    padding: 0 0 15px;
    border-bottom: 1px solid #eee;
}

/******************************************************************************/

#Wrapper {
    position : relative;
    padding-left : 70px; padding-right : 70px;
}

#Wrapper:before{
    content: "";
    position: absolute;
    width: 70px;
    display: block;
    height: 100%;
    top: 0;
    background: rgba(209, 209, 209, 0.87);
    left: 0;
    box-shadow : inset -2px -2px 10px 1px rgba(0,0,0,.25)
}


#Wrapper:after{
    content: "";
    position: absolute;
    width: 70px;
    display: block;
    height: 100%;
    top: 0;
    background: rgba(209, 209, 209, 0.87);
    right: 0;
    box-shadow : inset 2px 2px 10px 1px rgba(0,0,0,.25)
}

.crs{
    /*min-height : 300px;*/
    background-color : white;
}

.crs > div{
    vertical-align : top;
    float : left;
    margin-right : 3px;
    margin-left : 3px;
    box-shadow : 1px 1px 5px 1px rgba(0,0,0,.25);
    height : 310px;
}

.crs > div > a > img{width : 100%;}
.crs > div > a > p {
    font-weight : bold; color : black; font-family : Oswald;
}

.cat-main{
    background: #19191a;
    border-top: 1px solid rgba(115, 18, 18, 0.66);
    top: -50px;
    transition: all .6s ease;
}

.cat-main.tpfx{
    width: 100%;
    position: fixed;
    
    top: 0px;
    z-index: 2;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.5);
}

.cat-main ul li a:hover {
    background-color : #6D1515;
     
}
.cat-secondary{
    background : white;
}
.cat-secondary ul li a{
     color: #3d3d3d;
       /*color: rgba(60, 60, 60, 0.94);*/
  font-family: Roboto;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: none;
  font-size: 11px;
}

.pub-zone{
    margin-top: 10px;
    /*border: 1px solid white;*/
    float: right;
}

#cookies {
    background-color: #19191A;
    color: #FFF
    
}

#cookies > a{
    display: inline-block;
    border: 1px solid white;
    /* padding: 3px; */
    margin: 3px;
    background-color: white;
    padding-left: 3px;
    padding-right: 3px;
    line-height: 16px;
    font-size: 13px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.89);
}